@import "../units/typography/utils";

header{
  background-color: #fff;
}

.main-menu__logo{
  position: absolute;
  left: calc(50% - 69px);
  top:0;
  z-index: 1;
}

.main-menu__list{
  display: flex;
  max-width: 1056px;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 5px;
  @include tablet{
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
  }
  
}

.main-menu__item{
  display: flex;
  width: 100%;
}

.main-menu__link{
  font-size: $typography-text-small;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16.8px 8px;
  flex-basis: 100%;
  text-align: center;
  @include tablet{
    flex-basis: auto;
  }
}

.main-menu__item--1{
  justify-content: center;
  @include tablet{
    justify-content: flex-start;
    flex-basis: 22.6%;
  }
}

.main-menu__item--2{
  justify-content: center;
  @include tablet{
    justify-content: flex-start;
    flex-basis: 27.4%;
  }
}

.main-menu__item--3{
  justify-content: center;
  @include tablet{
    justify-content: flex-end;
    flex-basis: 27.4%;
  }
}

.main-menu__item--4{
  justify-content: center;
  @include tablet{
    justify-content: flex-end;
    flex-basis: 22.6%;
  }
}

@media (max-width:1199px){
  .main-menu__list{
    max-width: 676px;
  }
}
// 240 