@import "../units/typography/utils";

.search-form-container{
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  min-height: 217px;
  height: auto;
  padding: 15px;
  @include tablet{
    padding: 35px 73px;
  }
}

.search-form-container__background{
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  max-width: none;
  
  @supports(object-fit: cover){
      object-position: center;
  }
  
  @include desktop{
    @supports(object-fit: cover){
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }

}

.search-form-container__selection-fields{
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  @include tablet{
    flex-direction: row;
  }

}

.search-form-container__checkboxes{
  display: flex;
  text-transform: uppercase;
  @include tablet{
    flex-basis: auto;
    flex-grow: 1;
  }
}

.search-form-container__infrastructure{
//  width: 240px;
//  color: #fff;
//  border: 0;
  flex-basis: 50%;
}

.fieldset-wrapper__checkbox-wrapper{
  margin-bottom: 23px;
}

.search-form-container__house-type{
  flex-basis: 50%;
  //margin-left: auto;
}

.fieldset-wrapper{
  color: #fff;
  border: 0;
}

.fieldset-wrapper__name{
  //margin-bottom: 28px;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: $typography-text-medium;
  text-transform: uppercase;
}

.search-form-container__checkbox-value{
  padding-right: 14px;
}

.search-form-container__day-price{

  display: flex;
  flex-direction: column;
  width: 224px;
  margin: 0 auto;

  @include tablet{
    margin: 0;
    margin-left: auto;
  }

  @include desktop{
    width: 320px;
  }

}

.fieldset-wrapper__range-borders{
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  margin-bottom: 13px;
}

.fieldset-wrapper__left-border{
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  border-right: 2px solid white;
  padding: 2px 0;
  margin: 9px 0;
}

.fieldset-wrapper__right-border{
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  padding: 2px 0;
  margin: 9px 0;
}

.fieldset-wrapper__range-line{
  display: block;
  width: 100%;
  margin-bottom: 23px;
}

.fieldset-wrapper__show-button{
  display: block;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid white;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 auto;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #8f8281;
}
input[type=range]::-webkit-slider-thumb {
  border: 8px solid #fff;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background-color: #b1b1b1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

