@import "../units/typography/utils";

.search-form{
  display: flex;
  position: relative;
  overflow: hidden;
  min-height: 217px;
  padding: 15px;
  @include tablet{
    padding: 35px 73px;
  }
}

.search-form__background{
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  max-width: none;
  
  @supports(object-fit: cover){
      object-position: center;
  }
  
  @include desktop{
    @supports(object-fit: cover){
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }

}

.search-form__selection-fields{
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  @include tablet{
    flex-direction: row;
  }

}

.search-form__checkboxes{
  display: flex;
  text-transform: uppercase;
  @include tablet{
    flex-basis: auto;
    flex-grow: 1;
  }
}

.search-form__infrastructure{
  flex-basis: 50%;
}

.search-form__house-type{
  flex-basis: 50%;
}

.fieldset-wrapper{
  color: #fff;
  border: 0;
}

.fieldset-wrapper__name{
  margin-bottom: 28px;
  font-weight: bold;
  font-size: $typography-text-medium;
  text-transform: uppercase;
}

.search-form__checkbox-value{
  padding-right: 14px;
}

.search-form__day-price{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  @include tablet{
    max-width: 225px;
  }
  @include desktop{
    max-width: 320px;
  }
}

.fieldset-wrapper__range-borders{
  border: 2px solid white;
  border-radius: 3px;
  display: flex;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.fieldset-wrapper__left-border{
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  border-right: 2px solid white;
  padding: 3px 0;
  margin: 7px 0;
  font-size: $typography-text-small;
  line-height: $typography-text-small;
}

.fieldset-wrapper__right-border{
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  padding: 3px 0;
  margin: 7px 0;
  font-size: $typography-text-small;
  line-height: $typography-text-small;
}

.fieldset-wrapper__range-line{
  display: block;
  width: 100%;
  //margin-bottom: 34px;
  margin-bottom: 27px;
}

.fieldset-wrapper__show-button{
  display: block;
  background-color: transparent;
  padding: 11px 33px;
  border: 2px solid white;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  margin: 0 auto;
}

.fieldset-wrapper__range-line {
  -webkit-appearance: none;
  width: 100%;
}

.fieldset-wrapper__range-line:focus {
  outline: none;
}

.fieldset-wrapper__range-line::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #8f8281;
}

.fieldset-wrapper__range-line::-webkit-slider-thumb {
  border: 8px solid #fff;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background-color: #b1b1b1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

.mb-0{
  margin-bottom: 0;
}

