.sedona-footer{
  display: flex;
  flex-direction: column;
  padding: 20px 36px;
  background-color: #fff;
  align-items: center;
  @include tablet{
    flex-direction: row;
    align-items: center;
  }
}

.visit-sedona{
  color: #000;
  @include tablet{
    flex-grow: 1;
  }
}

.sedona-footer__social-list{
  display: flex;
  justify-content: center;
  margin-top: 8px;
  @include tablet{
    flex-grow: 1;
  }
}

.sedona-footer__item{
  display: flex;
  align-items: center;
  padding: 10px 16px;
  background-color: $color-primary;
  margin-left: 5px;
}

.created-by{
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  @include tablet{
    flex-grow: 1;
    text-align: center;
    margin-top: 0;
  }
}