@import "../vendors/bulma/sass/utilities/all";

.three-reasons-section{
  background-color: $color-app-background;
  padding: 20px 0;
  
  @include tablet {
    display: flex;
  }
}

.three-reasons-section__item{
  padding: 40px 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid $color-divider;
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
  @include tablet{
    padding: 50px 70px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 0;
  }
}

.no-bottom-devider{
  border-bottom: 0;
}

.three-reasons-section__title{
  color: #000;
}

