@import "../vendors/bulma/sass/utilities/all";

.three-reasons-section{
  background-color: $color-app-background;
  padding: 20px 0;
  
  @include tablet {
    display: flex;
  }
}

.three-reasons-section__item{
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
  @include tablet{
    padding: 50px 70px;
  }
}

.three-reasons-section__title{
  color: #000;
}

