@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  src: local("PT Sans"),
    url("./fonts/ptsans.woff2") format("woff2"),
    url("./fonts/ptsans.woff") format("woff");
}

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans"),
    url("./fonts/ptsansbold.woff2") format("woff2"),
    url("./fonts/ptsansbold.woff") format("woff");
}

html, body {
  font-family: "PT Sans", "Helvetica", sans-serif;
  font-weight: normal;
  line-height: 1.4;
}