@import "vendors/normalize";
@import "vendors/bulma/sass/utilities/all";
@import "vendors/bulma/sass/base/all";
@import "vendors/bulma/sass/elements/container";

@import "units/colors/output";
@import "units/typography/output";

@import "components/navbar";
@import "components/intro-section";
@import "components/features-list";
@import "components/three-reasons-section";
@import "components/sedona-description";
@import "components/order-hotel-section";
@import "components/sedona-footer";

@import "elements/one-reason-container";
@import "elements/counter-wrapper";
@import "elements/search-button";

html{
  background-color: $color-app-background;
}

@media (min-width: 1201px){
  body{
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 0px 19px 11px rgba(191,191,191,1);
  }
}

.position-relative{
  position: relative;
}

.mt-auto{
  margin-top: auto;
}

.reversed-row{
  flex-direction: row-reverse;
}

.large-text{
  font-size: $typography-h2;
  font-weight: bold;
  text-transform: uppercase;
}

.medium-text{
  font-size: $typography-text-small;
  text-transform: uppercase;
}

.ml-17{
  margin-left: 17px;
}

.ml-21{
  margin-left: 21px;
}

.ml-34{
  margin-left: 34px;
}

.ml-62{
  margin-left: 62px;
  @include tablet{
    margin-left: 31px;
  }
}